.card{
    $width: 400px;
    $padding: 60px;

    width: 100%;
    max-width: $width;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--dark{
        background-color: rgba($dark, 0.8);
        padding: $padding $padding * 1.25;
        max-width: $width + $padding * 2;
    }

    &__title{
        font-family: $YesevaOne-f;
        font-weight: 400;
        font-size: 36px;
        text-align: center;

        @include color-text-mod();
    }

    &__bottom{
        margin-top: 40px;
        width: 100%;
    }
}

.autograph{
    width: max-content;
    position: relative;
    margin: 0 auto 40px auto;

    &__img{
        width: 150px;
        height: 150px;
        position: relative;
    }
    &__signature{
        position: absolute;
        max-width: 160px;
        right: -35%;
        bottom: -45%;
    
    }
}

.quote{
    font-family: $YesevaOne-f;
    font-size: 24px;
    
    &__quotes{

    }

    &__signature{
        font-family: $lato-f;
        font-size: 18px;
        font-weight: 400;
    }
}

.ingredients{
    width: 100%;
    display: flex;
    gap: 20px;

    &__item{
        width: 100px;
        height: 100px;
        border: 5px solid rgba($grey, 0.4)
    }
}
