@mixin btn($primary, $secondary) {
    color: $secondary;
    background-color: rgba($primary, 0.6);
    border: 1px solid $primary;
}
@mixin color-text-mod {
    &--primary{
        color: $primary;
    }
    &--light{
        color: $white;
    }
    &--dark{
        color: $dark;
    }
}

@mixin flexGap($gap, $direction: row, $element: '*'){
    @supports not ((scroll-behavior: smooth) and (gap: 30px)){
        > #{$element}{
            @if $direction == row {
                margin: 0 $gap/2 ;

                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
            @if $direction == row-reverse {
                margin: 0 $gap/2 ;

                &:first-child{
                    margin-right: 0;
                }
                &:last-child{
                    margin-left: 0;
                }
            }
      
            @if $direction == column {
                margin: $gap/2 0;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            @if $direction == column-reverse {
                margin: $gap/2 0;
                &:first-child{
                    margin-bottom: 0;
                }
                &:last-child{
                    margin-top: 0;
                }
            }
            @if $direction == all {
                margin: $gap/2;
            }
        }
    }
}