$lato-f: 'Lato', sans-serif;
$YesevaOne-f: 'Yeseva One', cursive;
$Gentium-f: 'Gentium Book Basic', serif;

$transition: 0.2s ease-in-out;

$white: #f3f2f0;
$primary: #cc9900;
$dark: #131314;
$grey: #565656;
$dark_bg: #060606;
//sizes
$tablet_media: 992px;
$tablet_media_mini: 768px;
$mobile_media: 576px;