@import './styles/mixins.scss';
@import './styles/variables.scss';
@import './styles/header.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 170px;
}


.test{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}