@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/header.scss';
@import './styles/mainsection.scss';
@import './styles/section.scss';
@import './styles/card.scss';
@import './styles/catalog.scss';
@import './styles/form.scss';
@import './styles/footer.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    max-width:1320px;
    margin: 0 auto;

    @media (max-width: 1360px ) {
        padding: 0 170px;
    }
}
.container-m{
    max-width: 960px;
    margin: 0 auto;
}
.columns{
    width: 100%;
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--narrow{ 
        justify-content: space-between;
        align-items: stretch;
        gap: 30px;


        .columns__col{
            overflow: hidden;
        }
    }
    &--stretch{
        align-items: stretch;
    }

    &__col{
        width: 49%;   
    }
    &--left{
        justify-content: flex-start;
    }
    &--right{
        justify-content: flex-end;
    }

}


.h1{
    font-family: $YesevaOne-f;
    font-size: 80px;
    font-weight: 400;
    color: $white;
    text-align: center;
    line-height: 140%;
    white-space: pre-wrap
}

.decoration{
    width: 230px;
    margin-top: 20px;
    margin-bottom: 30px;

    &--small{
        width: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &--light{
        .decoration-main-1 {
            fill: none;
            stroke:  $white;
            stroke-miterlimit: 10;
            stroke-width: 4px;
        }
    
        .decoration-main-2 {
            fill:  $white;
        }
        &  .decoration-secondary-1 {
            fill:  $white;
          }
    
        & .decoration-secondary-2 {
            fill: none;
            stroke: $white;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-width: 4px;
        }

    

    }
    &--primary{
        .decoration-main-1 {
            fill: none;
            stroke: $primary;
            stroke-miterlimit: 10;
            stroke-width: 4px;
          }
    
          .decoration-main-2 {
            fill: $primary
          }
          &  .decoration-secondary-1{
            fill: $primary;
          }
          & .decoration-secondary-2{
            fill: none;
            stroke: $primary;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-width: 4px;
          }
    }
}


.btn{
    font-family: $lato-f;
    font-size: 18px;
    text-transform: uppercase;
    padding: 16px 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &--dark{
        @include btn($dark, $white);
        &:hover{
            @include btn($white, $white);
        }
    }
    &--light{
        @include btn($white, $white);
        &:hover{
            @include btn($dark, $white);
        }
    }
    &--primary{
        @include btn($primary, $white);
        &:hover{
            background-color: $primary;
        }
       
    }
    &--small{
        line-height: 1;
        font-size: 16px;
        text-transform:  capitalize;
        padding: 12px 60px;
    }
}

.img-full{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

    &--width{
        width: 100%;
        height: auto;
    }
    &--height{
        height: 100%;
        width: auto;
    }

}

.img-bg{   
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: rgba($dark, 0.8);
}

.avatar{
    border-radius: 50%;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

}

.text{
    $this: &;
    font-size: 16px;
    font-family: $lato-f;
    line-height: 160%;

    @include color-text-mod();
    &--center{
        text-align: center;
    }


    &--small{
        font-size:14px;
    }

    &:not(:first-of-type){
        margin-top: 20px;
    }
    &--no-gap{
        &:not(:first-of-type){
            margin-top: 0;
        }
    }
    &__bold{
        font-weight: bold;
    }

}

.icons-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;

    &__icon{
        font-size: 18px;
        color: $white;
    }
}